<template>
	<div>
		<div v-if="isLoading" class="mx-auto mt-5" style="width:100px;">
			<img :src="'../img/circle-loading.gif'" style="width:100px;">
		</div>
		<div v-if="! isLoading">
			<div class="container" :style=" banner_background ? 'background:url(\'https://image.tmdb.org/t/p/original/' + banner_background + '\') 50% 25%' : '' ">
				<div class="row">
					<div class="col-md-2 pr-0 mr-0">
						<img v-if="info.poster_path" class="movie-poster img-fluid pt-2 pr-0" :src="'https://image.tmdb.org/t/p/w185' + info.poster_path"/>
						<img v-else class="movie-poster img-fluid pt-2 pr-0" :src="'../img/film-default.png'"/>
					</div>
					<div class="col-md-10">
						<div class="card m-6 p-6" style="color:#fff;background:url('../css/img/bg-grey.png')">
							<div class="card-body">
								<h1 class="card-title">{{ info.original_title }}</h1>
								<div class="card-text movie-details">
									<div v-if="info. release_date">
										<span class="font-weight-bold">Release Date:</span>
										{{ info. release_date }}
									</div>
									<div v-if="info.tagline">
										<span class="font-weight-bold">Tagline:</span>
										{{ info.tagline }}
									</div>
									<div v-if="! isLoading && info.genres.length">
										<span class="font-weight-bold">Genres:</span>
										<span v-for="(genre, index) in info.genres">
											<span>{{ genre.name }}</span><span v-if="index+1 < info.genres.length">, </span>
										</span>
									</div>
									<div v-if="info.overview" class="mt-2">
										{{ info.overview }}
									</div>
									<div v-if="info.runtime" class="mt-2">
										Runtime: {{ info.runtime }} minutes
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h2 v-if="info.production_companies.length" class="mt-4">Production Companies</h2>
			<div v-if="info.production_companies.length" class="container production-companies">
				<div class="row">
					<div class="col">
						<ul class="">
							<li v-for="company in info.production_companies">
								<img v-if="company.logo_path" :alt="company.name" :src="'https://image.tmdb.org/t/p/w185' + company.logo_path" style="height:25px"/>
								<img v-else :alt="company.name" :src="'../img/film-default.png'" style="height:25px"/>
								{{ company.name }}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<h2 class="mt-4 mb-2">Cast</h2>
	
			<div class="container-fluid">
				<div class="row">
					<div v-for="actor in cast" class="col-md-3 mb-3" align="center">
						<img class="image-actor" v-if="actor.profile_path" :src="'https://image.tmdb.org/t/p/w185' + actor.profile_path">
						<img class="image-actor" v-else :src="'../img/film-default.png'"/>
						<br>
						<span class="font-weight-bold">{{ actor.name }}</span>
						<br>
						{{actor.character}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		data() {
			return {
				id: this.$route.params.id,
				info:[],
				cast: [],
				windowWidth: '',
				isLoading: true
			}
		},

		computed: {
			banner_background: function() {
				return (this.info.backdrop_path && this.windowWidth > 450) ? this.info.backdrop_path : null
			}
		},

		created() {
			window.addEventListener('resize', this.handleResize)
			this.handleResize()
		},
		mounted() {
			this.getMovieCredits()
		},

		methods: {
			async getMovieCredits() {
				this.isLoading = true

				await axios
			      .post('/api/movie/info/' + this.id)
			      .then(response => {
			      	this.info = (typeof response.data !== 'undefined' && typeof response.data !== 'undefined') ? response.data : []
			      })
				
				await axios
			      .post('/api/movie/credits/' + this.id)
			      .then(response => {
			      	this.cast = (typeof response.data !== 'undefined' && typeof response.data.cast !== 'undefined') ? response.data.cast : []
			      })
				this.isLoading = false
			},

			handleResize() {
				this.windowWidth = window.innerWidth
			}
		}

	}
</script>