h2 {
	width:100%;
	border-bottom:solid 2px #ccc;
	padding:0 0 2px 0;
}
.card {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	margin: 6px 6px 6px 0;
}

.flex-column { 
   min-width : 185px;
}

.image-actor {
  width:100px;
}

.production-companies .col ul {
	padding:0;
	margin:0;
}
.production-companies ul {
	list-style-type: none;
}

.production-companies .col ul li {
	display:inline-block;
	padding:0 8px 4px 0;
}

@media screen and (max-width: 450px) {	
	.movie-poster  {
		display:none;
	}

	.movie-poster-mobile {
		width:100px;
	}

	.card {
		text-shadow: none;
		background:#fff !important;
		color:#000 !important;
	}
	
	.production-companies .col ul li {
		display:block;
	}
}