<template>
    <div>
        <div class="container bg-primary text-white pt-2 pb-2 pl-4 mb-2">
        	<h1>Movie Search</h1>
        </div>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>