<template>
	<div>
		<form @submit.prevent="handleSubmit">
		  <div class="form-group">
		    <label for="actor_1">Was this person...</label>
		    <input type="text" class="form-control" id="actor_1" v-model="actor_1" aria-describedby="actor1" placeholder="Enter name">
		  </div>
		  <div class="form-group">
		    <label for="actor_2">... in a movie with?</label>
		    <input type="text" class="form-control" id="actor_2" v-model="actor_2" aria-describedby="actor2" placeholder="Enter name">
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<div v-if="isLoading" class="mx-auto mt-5" style="width:100px;">
			<img src="/img/circle-loading.gif" style="width:100px;">
		</div>
		
		<div v-if="results.returned_a_null_value" class="container mt-4">
			<div v-if="! isLoading" class="row">
				<div class="col-md d-block mb-2 alert alert-danger" role="alert">
					No match for 
					<span v-if="! results.returned_a_null_value.actor_1" class="font-weight-bold">{{ actor_1 }}</span>
					<span v-if="! results.returned_a_null_value.actor_1 && ! results.returned_a_null_value.actor_2"> or </span>
					<span v-if="! results.returned_a_null_value.actor_2" class="font-weight-bold">{{ actor_2 }}</span>
					<br>
					Please check the spelling as it needs to be an exact match.
				</div>
			</div>
		</div>

		<div v-else-if="results.length === 0" class="container mt-4">
			<div v-if="! isLoading" class="row">
				<div class="col-md">
					These two actors have never been in a film together.
				</div>
			</div>
		</div>

		<div class="container mt-4 search-results" v-if="results.length && ! isLoading" v-for="result in results">
			<div class="row">
				<div>
					<img class="movie-poster-mobile" v-if="result.poster_path" :src="'https://image.tmdb.org/t/p/w185' + result.poster_path"/>
					<img class="movie-poster-mobile" v-else src="/img/film-default.png"/>
				</div>

		  		<div class="col">
		  			<strong>
		  				<router-link :to="{ name: 'movie', params: { id: result.id } }">
		  					{{result.title}} 
		  				</router-link>
		  				<span v-if="result.release_date">-</span> 
		  				{{ result.release_date.substring(0, 4) }}
		  			</strong>
		  			<br>
		  			{{result.overview}}
		  		</div>
		  	</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		data() {
			return {
				actor_1: this.$route.params.actor_1,
				actor_2: this.$route.params.actor_2,
				results: { 'none': true },
				isLoading: false
			}
		},

		mounted() {
			this.getData()
		},

		watch: {
			'$route.params.actor_1': function() {
				this.getData()
			},
			'$route.params.actor_2': function() {
				this.getData()
			}
		},

		methods: {
			async handleSubmit(e) {
				this.$router.push("/" + this.actor_1 + '/' + this.actor_2)
			},

			async getData() {
				if(this.$route.params.actor_1 && this.$route.params.actor_2) {
					this.isLoading = true
					await axios
				      .post('/api/actors/search/same-movie/ ' + this.$route.params.actor_1  + '/' + this.$route.params.actor_2)
				      .then(response => {
				      	this.results = (typeof response.data !== 'undefined' && typeof response.data.results !== 'undefined') ? response.data.results : []
				      })
				      console.log(this.results)
					this.isLoading = false
				}
			}
		}

	}
</script>